.body__container {
    width: 100vw;
    height: 100vh;
}
.header {
    /* width: 100vw;
    height: 7vh; */
    min-height: 68px;
    margin-bottom: 5vh;
}
/* .aside {
    width: 14vw;
    height: 100%;
} */
.main {
    /* width: 86vw; */
    /* height: 100%; */
    margin: 0 5vw 5vw 5vw;
    /* overflow: scroll; */
}



.content__footer {
    width: 100%;
    min-height: 132px;
}
.article {
    min-height: 61px;
    /* max-width: 487px; */
    /* border: 1px solid black; */
}




.template__content {
    width: 100%; /* не влипает в другие элементы, 
    потому что в .comment-form есть gap*/
}

.template__submit-button {
    /* width: 100%; */
    border-radius: 5px;
}
.template__input {
    width: 100%;
    min-height: 50px;
    padding: 10px;

    border-radius: 5px;
}