.body {
    color: var( --main-font-color);
}

.header, .sidebar, .article, .content__footer {
    background-color: var(--mock-color);
}
.comments {
    border-top: 3px solid var(--mock-color);
    padding-top: 20px;
}

.template__input {
    box-shadow: var(--main-elements-shadow);
}
.template__nickName {
    color: var(--nicknames-color);
}

.comments__counter, .comments__sorter, 
.comments__favorites-button, .comments__words-counter,
.template__submit-button {
    opacity: var(--main-elements-opacity);
}
.template__submit-button {
    background-color: var(--mock-color);
}

