.body {
    font-family: "Inter", sans-serif;
}
.comments__show-button {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;

    /* text-decoration: underline; */
}
.comments__sorter, .comments__favorites-button {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    /* text-decoration: underline; */
}
.template__submit-button {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}
